<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" >
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <mat-accordion>
       <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header style=" background-color: #666f78;">
      <mat-panel-title>        
       <h3>Суперагент</h3>
       <br>
       <p>Банк ВТБ (ПАО)</p>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p  style="color:white" class="style2"><mat-icon style="overflow:visible">work</mat-icon>Управление</p>
    <a  class="style" mat-list-item  href="#">Карточка контагента</a>
    <a class="style" mat-list-item href="#">Договоры контрагента</a>
  </mat-expansion-panel>
</mat-accordion>
      <a class="style1" mat-list-item href="#"><mat-icon>supervisor_account</mat-icon>Субагенты</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary"> <div class="mat1"> <a style="color:white" href="#"><mat-icon>account_circle</mat-icon>Иванов <br> Администратор</a> 
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
  
</mat-sidenav-container>
