table {
    position: relative;
    left: 300px;
    width: 500px;
  }
  .mdc-data-table__table{
    min-width: 500px;
    margin-top: 50px;
  }
  mat-paginator{
    position:relative;
    left: -550px;
    margin-top: 50px;
  }
  