.table1 {
  max-width: 100%;
  }

  mat-paginator{
    position:relative;
    
  }
  .mat-mdc-header-row{
    background-color: red;
  }
  .highlightTableColor{
    background-color: blue;
  }
  /*td:hover {
    background: red; 
    color: #fff; 
   }*/
   
   