<div class="container">
    <div  class = "example-button-row" > 
        <button  mat-flat-button ><mat-icon>chevron_left</mat-icon> Назад </button > 
    </div>
    <div class="text"><h3>Настройка учетных записей сотрудников контрагента</h3></div>
    </div>
<div class="container-button " >
    <div class="button1"></div>
    <button  mat-raised-button > Добавить<mat-icon>control_point</mat-icon> </button>
    <div class="button2"></div> 
    <button  mat-raised-button ><mat-icon>check_circle</mat-icon> Разблокировать</button> 
    <div class="button3"></div>
    <button  mat-raised-button  ><mat-icon>highlight_off</mat-icon> Заблокировать</button> 
<div class="button4">
    <button  mat-raised-button > Фильтр<mat-icon>filter_list</mat-icon> </button>
</div>
</div>